body {
  color: #fff;

  h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    font: 120px HUGEAvantGardeBold;
    line-height: 132px;
    letter-spacing: -0.02em;
    text-align: center;

    strong {
      display: block;
    }
  }
}
