// Mobile
body {
  	background-color: #fff;
  	height: 100%;
  	width: 100%;
}

.wrapper {
	height: 100%;

	header {
		background-image: url(/images/background-image.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		height: 240px;
		text-align: center;

		img {
			display: none;
			height: 0;
			width: 0;
		}
	
		.headline {
			width: 100%;
			line-height: 0;

			h1 {
				font: 44px HUGEAvantGardeBold;
			    line-height: 48px;
			    letter-spacing: -0.02em;
			    color: #000;
			    display: block;
			    display: inline-block;
			    margin-top: 46px;
			    
			    strong {
			      display: block;
			    }
			}
		}
	}

	main.intro {
		padding: 0px 24px;
		display: block;
		margin-top: 142px;
		
		p {
			font: 14px Galaxie;
			font-style: normal;
			font-weight: normal;
			line-height: 24px;
			text-align: justify;
			color: #000;
		}
	}
}

.overlay {
	background-color: $mask;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	display: block ;
}

