// Mobile
html 	{
  	background-color: #fff;
  	height: 100%;
  	width: 100%;
  	overflow: hidden;
}

.wrapper {
	height: 100%;

	header {
	 	background-image: url('/images/background-image.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	 	width: 100%;
	 	position: relative;
	 	width: 100%;
	 	height: 240px;

	 	.headline {
	 		text-align: center;

		 	h1 {
		 		display: inline-block;
				width: 90%;
				margin: 0 auto;
			    top: 335px;
			    color: #000;
			    text-align: left;
			    font: 44px HUGEAvantGardeBold;
			    line-height: 48px;
			    letter-spacing: -0.02em;

			    strong {
			      display: block;
			    }
			}
		}
	}

	main.intro {
		padding: 0px 24px;
		display: block;
		margin-top: 185px;
		
		p {
			font: 14px Galaxie;
			font-style: normal;
			font-weight: normal;
			line-height: 24px;
			text-align: justify;
			color: #000;
		}
	}
}

.overlay {
	background-color: $mask;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	display: block ;
	opacity: 0;
	transition: 0.2s;
	overflow: hidden;
}

