@import "fonts.css";

body {
  color: #fff;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 20vmin/1 HUGEAvantGardeBold;
  letter-spacing: -0.06em;
  text-align: center;
}

/* ====================
Top Bar Styles
=======================*/

/* Top Bar Container */
nav.nav-top-bar {
  background-color: #ec008c;
  width: 100%;
  height: 72px;
  line-height: 0;
  position: relative;  
}

  /* Logo */
  nav.nav-top-bar a#logo {
    display: inline-block;
    padding: 24px;
    padding-right: 48px;
  }

    nav.nav-top-bar a#logo img {
      width: 60px;
      height: 24px;
    }

  /* Primary Nav Links */
  nav.nav-top-bar div.primary-nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -8px;
  }

    nav.nav-top-bar div.primary-nav a {
      font: 21px HUGEAvantGardeBold, sans-serif;
      color: #fff;
      padding: 0 24px;
      text-decoration: none;
    }

    nav.nav-top-bar div.primary-nav a:hover  {
      color: #ec008c;
      padding-top: 28px;
      padding-bottom: 24px;
      background-color: #fff;
    }

/* =========================
Header / Feature Image Area
===========================*/

header {
  width: 100%;
}

header img {
  max-height: 640px;
  width: 100%;
}

main.intro {
  outline: 1px dashed red;
  max-width: 968px;
  margin: 0 auto; 
  margin-top: 24px;
}

main.intro p {
  font-family: 24px Galaxie;
  line-height: 36px;
  color: #000;
}